<% @gear.attributes.each do |attribute| %>
<%= attribute[0] %>: <%= attribute[1] %><br>
<% end %>
<img src="<%= @gear.image_url %>" alt="" width="200" />
<br>
<!-- <a href="/gear"><img src="../../assets/img/BackButton.jpg" alt="go back" /></a><br> -->

<a href="/gear"><img src="https://calnpal.files.wordpress.com/2013/02/back-button.jpg" width="100" alt="back" /></a><br>

<a href="/gear/<%= @gear.id %>/edit">Edit this piece of gear</a><br>

<form class="" action="/gear/delete" method="POST">
  <input type="hidden" name="gear_id" value="<%= @gear.id %>">
  <input type="submit" name="delete" value="Delete this Gear">
</form>
